POSTGRES_USER=travel_user
POSTGRES_PASSWORD=travel_password
POSTGRES_DB=travel_planner
POSTGRES_PORT=5433

# for local
DATABASE_URL=postgresql+asyncpg://travel_user:travel_password@localhost:5433/travel_planner

ART_API_URL=https://api.artic.edu/api/v1
