# Environments
.env
.venv/
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.pytest_cache/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# IDE / Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Ruff / Linters
.ruff_cache/
.mypy_cache/

# Docker
docker-compose.override.yml
